//colors
$primary-blue: #007bff;
$dark-grey-text: #37474f;
$dark-grey-background: #181818;
$light-grey-text: #aaaaaa;
$light-grey-background: #212121;

//fonts
$font-stack-primary: "Raleway", sans-serif;
$font-stack-secondary: "Open Sans", sans-serif;
$font-stack-tertiary: "Montserrat", sans-serif;
