.video-card {
	cursor: pointer;
	line-height: 1.3;

	img {
		width: 100%;
	}

	.video-info {
		padding: 0.5rem;
	}

	.video-title {
		font-weight: 500;
		font-size: 1.73rem;
		margin-bottom: 0.3rem;
	}

	.video-channel {
		font-size: 1.7rem;
		color: $light-grey-text;
	}

	&:hover {
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
	}

	&:active {
		transform: scale(0.98);
	}
}
